
.sidenavContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10vh;
    height: 100%;
    background-color: #FFFFFF;
    min-height: 88vh;
    border: 1px solid white;
}

.menuContainer{
    display: flex;
    height: 30vh;
    margin-top: 5vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.menuIcons{
    height: 4vh;
    width: 4vh;
}

.folderIcon{
    height: 3.5vh;
    width: 3.5vh;
    margin-top: 3vh;
}