
.Searchbar-Container{
    display: flex;
    align-items: center;
    width: 60vh;
    height: 4vh;
    background-color: #F9F9F9;
    padding: 5px 10px 10px 10px;
    border: 1px solid rgb(215, 209, 209);
    border-radius: 5px;
}

.searchIcon{
    margin-top: 5px;
    padding: 5px;
    color: gray;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}

.input-container input{
    width: 45vh;
    height: 4vh;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    background-color: #F9F9F9;
    color: black;
    border-radius: 5px;
    outline: none;
    border: none;
}